<h1>Create New post</h1>
<%= form_with model: @new_post, url: create_post_path, method: :post, local: true, scope: :new_post do |f| %>
    <div>
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
    </div>

    <div>
    <%= f.label :Text %><br>
    <%= f.text_field :Text %>
    </div>

    <%= f.submit "Add Post" %>
<% end %>