<%= stylesheet_link_tag "post_show.css" %>
<h1>Display post by id  for a given user</h1>
<div class="post">
    <div class="header">
        <h3 ><%= @post.Title %> by <%= @post.author.Name %></h3>
        <div class="statistics">
            <span>Comments: <%= @post.CommentsCounter %></span>
            <span>Likes: <%= @post.LikesCounter %></span>
        </div>
    </div>
    <p><%= @post.Text %></p>
    
</div>
<div class="comment-details">
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.Name %>: <%= comment.Text %></p>
    <% end %>
</div>
<div>
<button>
    <%= link_to "Add New Comment", new_comment_path(@post.author.id) %>
</button>
<%= form_with  url: create_like_path, method: :post, local: true do |f| %>
    <%= f.submit "Add new Like" %>
<% end %>
</div>

